# Source - https://stackoverflow.com/a/79505976
# Posted by Ravindu Gamage
# Retrieved 2025-11-09, License - CC BY-SA 4.0

{
  "CompileFlags": {
    "Add": [
      "-std=c++20",
      "-Wall",
      "-Wextra",
      "-Wpedantic",
    ]
  },
  "Index": {
    "Background": "Build"
  },
  "Completion": {
    "AllScopes": true
  }
}
